:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;

  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

}

nav{
  
  display: flex;
  background-color: rgb(248, 248, 250);
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 120px;
}

section {
  padding: 20px;

}

.hero{
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.card {
  width: 175px;
  font-size: 12px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--status {
  display: flex;
  align-items: center;

}

.card--star {
  height: 14px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}