:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
 display: flex;
 justify-content: center;
 height: 100vh;
 
}

nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title  {
  margin: 0;
}
.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size:22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 50px;
  margin-right: 30px;
}
main {
 
  padding: 57px 27px;
  background-color:#282D35;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
  
}

.main--facts {
  margin-top: 46px;
}